.laura-input-wrapper{
    display: flex;
    width: 100%;
    margin:30px;
    position: relative;
    .icon-wrapper{
        position: absolute;
        height: 100%;
        width: 35px;
        justify-content: center;
        color: $input-color;
        right: 0;
        top: 0;
        display: flex;
        align-items: center;
        svg{
            color: $input-placeholder-color;
        }
    }
}
.icon-wrapper+.laura-input-inner{
    padding-right: 35px;
}

.laura-input-inner{
    width: 100%;
    border: $input-border-width solid $input-border-color;
    border-radius:$border-radius;
    box-shadow: $input-box-shadow;

    padding: $input-padding-y $input-padding-x;
    font-family: $input-font-family;
    font-weight: $input-font-weight;
    line-height: $input-line-height;
    font-size: $input-font-size;
    color: $input-color;
    background-color: $input-bg;
    background-clip: padding-box;
    &:foucs{
        border-color: $input-focus-border-color;
        background-color: $input-focus-color;
        color: $input-focus-color;
        outline:0;
        box-shadow: $input-focus-box-shadow;
    }
    &::placeholder{
        color:$input-placeholder-color;
        opacity: 1;
    }
    &:disabled,
    &[readonly]{
        background-color: $input-disabled-bg;
        border-color: $input-disabled-border-color;
        // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
        opacity: 1;        
    }
}

.laura-input-group-prepend,
.laura-input-group-append{
    display: flex;
    align-items: center;
    border: $input-border-width solid $input-group-addon-border-color;
    border-radius: $input-border-radius;  

    padding: $input-padding-y $input-padding-x;

    margin-bottom: 0; // Allow use of <label> elements by overriding our default margin-bottom
    font-size: $input-font-size; // Match inputs
    font-weight: $font-weight-normal;
    line-height: $input-line-height;
    color: $input-group-addon-color;
    text-align: center;
    white-space: nowrap;
    background-color: $input-group-addon-bg;  
}

.laura-input-group-append + .btn {
  padding: 0;
  border: 0;
}
.input-group > .laura-input-group-prepend,
.input-group.input-group-append > .laura-input-inner {
  @include border-right-radius(0);
}

.input-group > .laura-input-group-append,
.input-group.input-group-prepend > .laura-input-inner {
  @include border-left-radius(0);
}

.input-size-sm .laura-input-inner {
  padding: $input-padding-y-sm $input-padding-x-sm;
  font-size: $input-font-size-sm;
  border-radius: $input-border-radius-sm;
}

.input-size-lg .laura-input-inner {
  padding: $input-padding-y-lg $input-padding-x-lg;
  font-size: $input-font-size-lg;
  border-radius: $input-border-radius-lg;
}
